{% extends 'base.html' %}

{% block title %}
Страны
{% endblock %}

{% block body %}
<div class="container">
    <h1>Список Стран на сайте:</h1>
    <a class="btn btn-primary" href="/создание_страны">Создать страну</a>

    {% if land|length > 0 %}
        {% for el in land %}
            <div class="alert alert-info">
                <h3>{{ el.title_country }}</h3>
                <a href="/country/{{ el.id }}" class="btn btn-success">Детальнее</a>
            </div>
        {% endfor %}
    {% else %}
    <p>Еще не добавлена ни одна страна</p>
    {% endif %}
</div>
{% endblock %}
