{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="color:#0000FF">Основные вкладки сайта:</h1>
    <h3>Информация о возможных турах - <a class="btn btn-warning" href="/the_tour">Туры</a></h3>
    <h3>Информация о возможных гостиницах - <a class="btn btn-warning" href="/posts">Гостиницы</a></h3>
    <h3>Информация о возможных Прайс-листах - <a class="btn btn-warning" href="/price_list">Прайс-листы</a></h3>
    <h3>Информация о возможных странах - <a class="btn btn-warning" href="/country">Страны</a></h3>
    <h3>Информация о возможных Населенных пунктах - <a class="btn btn-warning" href="/settlement">Населенные пункты</a></h3>
</div>
{% endblock %}

