{% extends 'base.html' %}

{% block title %}
Создание тура
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавить тур</h1>
    <form method="post">
        <input type="text" name="type_tour" id="type_tour" class="form-control" placeholder="Введите тип тура"/><br>
        <input type="text" name="duration" id="duration" class="form-control" placeholder="Введите продолжительность тура (дней)"/><br>
        <input type="text" name="title_settlement" id="title_settlement" class="form-control" placeholder="Введите название населенного пункта"/><br>
        <select name="hotel_availability" id="hotel_availability">
            <option>Гостиница есть</option>
            <option>Гостиницы нет</option>
        </select>
        <input type="text" name="title_hostel" id="title_hostel" class="form-control" placeholder="Введите название гостиницы"/><br>
        <input type="text" name="mode_vehicle" id="mode_vehicle" class="form-control" placeholder="Введите вид транспорта"/><br>
        <input type="text" name="point_shipping" id="point_shipping" class="form-control" placeholder="Введите пункт отправления"/><br>

        <p><input type="submit" value="Отправить" class="btn btn-success"/></p>
    </form>
</div>
{% endblock %}